.navBG {
    background-color: teal;
}

.h1 {
    color: white;
    font-size: 36px;
    font-family: 'Cinzel', serif;
}

h2 {
    color: teal;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}

.box {
    background-color: whitesmoke;
    border: darkgrey;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

#background {
    background-color: lightgray;
}

.abtme {
    font-family: 'Raleway', sans-serif;
}

.portfolio {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.a {
    color: teal;
}

.a:hover {
    color: black;
}

.mybtn {
    background-color: teal;
    color: white;
}

.mybtn:hover {
    background-color: white;
    color: teal;
}

#abtimg {
    margin-bottom: 20px;
}